
.vote-counter {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border: 3px solid red;
  }
  
  .candidate-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .candidate-info {
    flex-grow: 1;
  }
  
  .vote-progress {
    display: flex;
    align-items: center;
  }
  
  .vote-progress input[type="range"] {
    margin-right: 10px;
  }
  